# Data Types and Structures Questions

1. # What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. Think of them like containers for data, where each type of container is optimized for different tasks or problems.
           
         (a)Common Types of Data Structures:


Arrays ‚Äì Store elements in a fixed-size, ordered list.

Linked Lists ‚Äì Consist of nodes that hold data and pointers to the next node.

Stacks ‚Äì Follow Last-In-First-Out (LIFO) ordering.

Queues ‚Äì Follow First-In-First-Out (FIFO) ordering.

Hash Tables / Hash Maps ‚Äì Store key-value pairs for fast lookups.

Trees ‚Äì Hierarchical structures like binary trees, binary search trees, etc.

Graphs ‚Äì Represent relationships between entities (nodes and edges).

Heaps ‚Äì A type of tree used mainly for priority queues.

                 (b) Why Data Structures Are Important:
                 
Efficiency: They help you store and access data in the most efficient way for the problem at hand.

Optimization: Choosing the right structure can drastically reduce the time and space your program uses.

Problem-solving: Many algorithms are built around specific data structures (e.g., Dijkstra‚Äôs algorithm uses a priority queue).

Maintainability: Well-structured data makes code easier to understand and modify.

2. # Explain the difference between mutable and immutable data types with examples.

  - # Mutable data can be changed after it's created. This means you can add, remove, or modify elements without creating a new object.

Common Mutable Data Types (in Python):


List

Dictionary

Set

User-defined classes (by default)


Example of Mutable Data

In [ ]:
#list
my_list = [1, 2, 3]
my_list.append(4)  # Modifying the list
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
#Dictionary
my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3  # Modifying the dictionary
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#Set
my_set = {1, 2, 3}
my_set.add(4)  # Modifying the set
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

#Immutable data cannot be changed after it is created. Any operation that seems to modify it actually creates a new object.




 Common Immutable Data Types (in Python):
String

Tuple

Integer

Float

Boolean

frozenset

In [ ]:
#Tuple
my_tuple = (1, 2, 3)
new_tuple = my_tuple + (4,)  # Creating a new tuple
print(new_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [ ]:
#Integer
my_int = 5
new_int = my_int + 2  # Creating a new integer
print(new_int)  # Output: 7

7

In [ ]:
#Float
my_float = 3.14
new_float = my_float * 2  # Creating a new float
print(new_float)  # Output: 6.28

6.28

In [ ]:
#Boolean
my_bool = True
new_bool = not my_bool  # Creating a new boolean
print(new_bool)  # Output: False

False

In [ ]:
#frozenset
my_set = {1, 2, 3}
new_set = frozenset(my_set)  # Creating a frozenset
print(new_set)  # Output: frozenset({1, 2, 3})

frozenset({1, 2, 3})

3. # What are the main differences between lists and tuples in Python?
  
  - The main differences between lists and tuples in Python are:-

    # List


Mutable: Yes (can be changed)

Syntax: Square brackets []

Methods: Many (e.g., append(), remove(), pop())

Performance: Slightly slower

Use Case: When data needs to change (e.g., shopping cart)

Dictionary Key: No (not hashable)


   # Tuple
Mutable: No (cannot be changed)

Syntax: Parentheses ()

Methods: Fewer (only count(), index())

Performance: Slightly faster

Use Case: When data should stay constant (e.g., coordinates)

Dictionary Key: Yes (hashable)


 # Example of List And Truple

In [ ]:
#list
my_list = [1, 2, 3]
my_list.append(4)  # Modifying the list
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
#truple
my_tuple = (1, 2, 3)
new_tuple = my_tuple + (4,)  # Creating a new tuple
print(new_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

4. # Describe how dictionaries store data.

  - A dictionary in Python stores data as key-value pairs. Think of it like a real-world dictionary: you look up a word (key) to get its definition (value).

  Example

In [ ]:
#dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict['b']  # Accessing a value using a key
print(value)  # Output: 2

2

5. # Why might you use a set instead of a list in Python?

  - A set is often used instead of a list when you need unique elements and fast lookups. Here's why:



# List
 Allows duplicates

 Maintains order

 Supports indexing

 Slower lookups (O(n))

 Use when order and duplicates matter



# Set
 No duplicates allowed (automatically removes them)

 No specific order

 No indexing

 Very fast lookups (O(1))

 Ideal for checking membership

 Great for removing duplicates from a list

 Supports set operations (union, intersection, difference)

6. #  What is a string in Python, and how is it different from a list?

 - A string in Python is a sequence of characters enclosed within single (') or double (") quotes. It is an immutable data type, which means once a string is created, it cannot be changed.

     . Diffrence between String and List

     # String (str)


Type: Immutable (cannot be changed)

Contains: Sequence of characters (text)

Syntax: Enclosed in quotes (' or ")

Indexing:  Yes, strings can be indexed (my_string[0])

Modifiable?: No (cannot change individual characters)

Methods: String methods like .upper(), .lower()

Can contain other types?:  Only characters (text)

Use Case: When working with text or characters





# List (list)


Type: Mutable (can be modified)

Contains: Can contain any type of data (numbers, strings, objects, etc.)

Syntax: Enclosed in square brackets ([])

Indexing: Yes, lists can be indexed (my_list[0])

Modifiable?:  Yes (add, remove, or change elements)

Methods: List methods like .append(), .remove()

Can contain other types?: Yes, lists can contain any data type

Use Case: When working with ordered collections of items


(This is the defination of String and List)


Example

In [ ]:
#string
my_string = "Hello, World!"
new_string = my_string.upper()  # Creating a new string
print(new_string)  # Output: "HELLO, WORLD!"

HELLO, WORLD!

In [ ]:
#list
my_list = [1, 2, 3]
my_list.append(4)  # Modifying the list
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

7. # How do tuples ensure data integrity in Python?

  - Tuples are a powerful data structure in Python because they are immutable, meaning once created, their data cannot be changed. This immutability ensures data integrity in several ways

  Key Ways Tuples Ensure Data Integrity:
(a) Prevents Accidental Modification:

Since you can't change a tuple once it's created (i.e., you cannot modify, add, or remove elements), you guarantee that the data remains intact throughout the program.

(b) Data Consistency:

If you use a tuple to represent fixed collections of values, you can be sure that the data you set initially will not be altered later in the code.

(c)Safe for Use as Dictionary Keys:

Because tuples are hashable (immutable), they can be used as keys in a dictionary, whereas mutable data types like lists cannot. This allows you to store important, unchangeable information in a dictionary without the risk of it being accidentally modified.

(d) Thread Safety:

In multi-threaded applications, the immutability of tuples means they are thread-safe. Multiple threads can share the same tuple without the risk of one thread modifying it, leading to unexpected behavior or data corruption


(e) Helps in Data Integrity Checks:

Since the elements inside a tuple cannot change, you can rely on the tuple's content to remain consistent for integrity checks, comparisons, and other operations that require unchanged data.

8. # What is a hash table, and how does it relate to dictionaries in Python?

 - A hash table is a data structure that stores key-value pairs. It allows for fast data retrieval, typically in constant time
ùëÇ
(
1
)
O(1), by using a process called hashing.

# How a Hash Table Works:

(a) Hashing: A hash function takes a key and computes an index (a number) in an internal array.

(b) Storing: The value is stored at the computed index.

(c) Retrieving: To get the value, the same hash function is used on the key to find the index, then the value is retrieved from that index.

# Collision Handling:
Sometimes, different keys can hash to the same index (called a collision). Common ways to handle this include:

Chaining: Store multiple values in a list at that index.

Open Addressing: Find another empty spot based on a probing sequence.


  # That comparison table is a great summary of the relationship between a generic hash table and Python‚Äôs dict.


  # Keys
Hash Table: Any hashable object

Python dict: Any hashable object (e.g., str, int, tuple)

# Values
Hash Table: Any data

Python dict: Any data

# Hash Function
Hash Table: Custom or language-defined

Python dict: Python's built-in __hash__() method

# Performance
Hash Table: O(1) average-case

Python dict: O(1) average-case for lookup, insert, and delete


Example.

In [ ]:
# Python dict usage
my_dict = {'apple': 3, 'banana': 5}

# Behind the scenes:
# - 'apple' is hashed to some index, say 42
# - Value 3 is stored at index 42 in the hash table

9. #  Can lists contain different data types in Python?

 - Python lists are heterogeneous, which means you can store a mix of data types in the same list.
  
  Example.

In [ ]:
my_list = [42, "hello", 3.14, True, [1, 2], {"key": "value"}]

# In this list, you have:

An int: 42

A str: "hello"

A float: 3.14

A bool: True

A list: [1, 2]

A dict: {"key": "value"}

Python doesn't require you to declare a specific data type for a list, which makes it very flexible ‚Äî though in some situations (like large-scale numerical computing), sticking to a single data type can be more efficient.

10. # Explain why strings are immutable in Python.

 - When we say strings are immutable, it means that once a string is created, it cannot be changed. Any operation that seems to change a string actually creates a new string object.

 Example

In [ ]:
s = "hello"
s = s + " world"
print(s)  # Output: "hello world"
#Here, Python didn't modify "hello" ‚Äî it created a new string "hello world" and re-assigned s to it.

hello world

11. # What advantages do dictionaries offer over lists for certain tasks?

 - Dictionaries offer several key advantages over lists for certain tasks, especially when dealing with structured data or when fast lookups are important. Here are the main benefits:



  (a).  Fast Lookup by Key




Dictionaries: Provide O(1) average-time complexity for accessing values using keys.

Lists: Require O(n) time to search for a value.

 Use case: When you need to frequently look up data by a specific identifier (like a name, ID, or key), dictionaries are far more efficient.



 (b). Key-Value Pair Structure


Dictionaries store data as {key: value}, making the relationship between elements explicit.

Lists store data sequentially, so relationships are usually implied by position.

 Use case: Ideal for storing and accessing structured or labeled data, such as user profiles ({"name": "Alice", "age": 30}).

(c). No Need to Know Position


With dictionaries, you don‚Äôt need to remember the position/index of a value.

With lists, you must know the index to retrieve a specific item.

 Use case: Managing settings, configurations, or user data where keys describe the data.

(d). Avoids Duplicates in Keys
Dictionary keys are unique, which helps enforce uniqueness in data.

Lists can contain duplicate elements, which may require extra logic to manage.

 Use case: Keeping a set of unique items with associated data, like inventory items with quantities.

(e). Flexible Data Representation


Dictionaries can naturally represent more complex data structures (e.g., nested dictionaries, JSON-like data).

Lists are better for ordered collections but can be harder to use for structured data.

12. #  Describe a scenario where using a tuple would be preferable over a list.

 - A tuple is preferable over a list when you want to store a collection of values that should not change (i.e., they are immutable) and where data integrity and performance are important. Here's a common scenario:

Scenario: Returning Multiple Values from a Function
Suppose you have a function that needs to return multiple pieces of data, such as the result of a calculation and a status message:

In [ ]:
def divide(a, b):
    if b == 0:
        return (None, "Error: Division by zero")
    else:
        return (a / b, "Success")

In this case, a tuple is a better choice than a list because:


. The structure and meaning of the returned values are fixed (first item = result, second item = status).

. You don‚Äôt need to modify the contents afterward.

. Tuples are slightly more efficient than lists in terms of memory and performance.

.Using a tuple emphasizes that the returned data is meant to be unpacked and used as a group, not modified.

13. # How do sets handle duplicate values in Python?

 - In Python, sets automatically remove duplicate values. When you add elements to a set, any duplicate entries are ignored because sets are unordered collections of unique elements.


 Example -

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

14. # How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?

 - The in keyword is used for membership testing in both lists and dictionaries, but it behaves a bit differently in each:




# For List

In [ ]:
#The in keyword checks whether a value exists in the list.
my_list = [1, 2, 3, 4]

print(2 in my_list)    # True
print(5 in my_list)    # False

True
False

In [ ]:
#For Dictionaries:
#The in keyword checks whether a key exists in the dictionary ‚Äî not the value.
my_dict = {'a': 1, 'b': 2}

print('a' in my_dict)     # True  (key)
print(1 in my_dict)       # False (value, not key)

True
False

15. #  Can you modify the elements of a tuple? Explain why or why not.

 - you cannot modify the elements of a tuple directly ‚Äî and that's by design.

 # Why?
Tuples in Python are immutable, meaning once a tuple is created, its contents cannot be changed. This includes:

No adding elements

No removing elements

No changing elements

Example.

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # ‚ùå This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

# However...
If a tuple contains mutable objects (like lists), those objects can be modified ‚Äî but the tuple itself still points to the same object.


Example

In [ ]:
my_tuple = ([1, 2], 3)
my_tuple[0].append(99)
print(my_tuple)  # ([1, 2, 99], 3)
#You're not changing the tuple's structure, just mutating an object inside it.

([1, 2, 99], 3)

16. # What is a nested dictionary, and give an example of its use case?

 - A nested dictionary in Python is a dictionary inside another dictionary ‚Äî like a mini-database. It‚Äôs a way to organize data hierarchically or in multiple levels.


 Example.

In [ ]:
students = {
    "Alice": {
        "age": 20,
        "major": "Computer Science",
        "grades": {"math": 90, "cs": 95}
    },
    "Bob": {
        "age": 22,
        "major": "Biology",
        "grades": {"bio": 88, "chem": 84}
    }
}
#This is a nested dictionary where each student name maps to another dictionary with their info.

17. # Describe the time complexity of accessing elements in a dictionary.

 - Accessing elements in a dictionary in Python has an average-case time complexity of O(1) ‚Äî also known as constant time. That means no matter how big the dictionary is, looking up a value by its key is typically super fast.


 Example.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict['b']  # O(1) access
#Python dictionaries use hash tables under the hood, which is why this operation is so efficient.

18. # In what situations are lists preferred over dictionaries?

 - You‚Äôd prefer lists over dictionaries when you care about order, need sequential access, or don‚Äôt need key-value pairing. Here's a breakdown:

#  Situations Where Lists Are Better Than Dictionaries:


Order Matters
Lists preserve the order of elements, which is great when the position of data is meaningful.

In [ ]:
steps = ["Turn on", "Heat up", "Stir", "Serve"]

In [ ]:
#Sequential Processing / Iteration
#Lists are ideal when you‚Äôre going to loop through items one by one.
#for item in shopping_list:
    print(item)

IndentationError: unexpected indent (<ipython-input-10-ec3a1312ef5f>, line 4)

In [ ]:
#No Need for Key-Value Pairs
#If you just need to store items (like numbers, names, etc.) without needing a label for each, a list is simpler.
numbers = [10, 20, 30]  # vs {'first': 10, 'second': 20}

In [ ]:
#Index-Based Access
#When you want to access elements by their position.
print(my_list[0])  # First item

1

#Faster for Small, Simple Datasets
Lists have slightly less overhead than dictionaries, making them better for lightweight storage.

19. # Why are dictionaries considered unordered, and how does that affect data retrieval?

 - Why Were Dictionaries Traditionally Considered Unordered?


Before Python 3.7, dictionaries were inherently unordered, meaning there was no guarantee that items would stay in the order you inserted them. This was because dictionaries focused solely on fast access via keys using hash tables, not on maintaining any specific order.



 - What Changed?

Starting in Python 3.7, dictionaries preserve insertion order as an implementation detail ‚Äî and it's now part of the language spec in Python 3.8+. So when you iterate over a dictionary, items come out in the order you added them.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

#But! Even though they're ordered now for iteration, dictionaries are still not position-based like lists ‚Äî you access data by key, not index.

{'a': 1, 'b': 2, 'c': 3}

How It Affects Data Retrieval:


 Access by key is still blazing fast: O(1)

 You can‚Äôt do this: my_dict[0] ‚Äî there's no concept of index

 But you can iterate in insertion order:

In [ ]:
for key in my_dict:
    print(key, my_dict[key])  # Ordered as inserted

a 1
b 2
c 3

20. #  Explain the difference between a list and a dictionary in terms of data retrieval.

 - The difference between a list and a dictionary in terms of data retrieval mainly comes down to how you access the data:


 - Lists:


Access by Index: You retrieve data from a list based on its index (the position of the item in the list).

Ordered: In Python (since 3.7), lists maintain insertion order, meaning the order you insert the items is preserved.

Example of Data Retrieval from a List:

In [ ]:
my_list = ['apple', 'banana', 'cherry']

# Access by index
print(my_list[1])  # Output: 'banana'
#Time Complexity: Accessing an element by index in a list is O(1) (constant time), which is very fast.
#Retrieval: You need to know the index to retrieve an item.

banana

- Dictionaries:


Access by Key: You retrieve data from a dictionary based on the key (which is a unique identifier for each item).

Key-Value Pairs: A dictionary stores data in key-value pairs, where each key maps to a specific value.

Ordered (Python 3.7+): While dictionaries preserve insertion order, the main feature is that they are optimized for fast access by key, not by position.

Example of Data Retrieval from a Dictionary:

In [ ]:
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Access by key
print(my_dict['age'])  # Output: 25
#Time Complexity: Accessing an element by key in a dictionary is also O(1) (constant time), thanks to the underlying hash table structure.
#Retrieval: You need to know the key to retrieve a value.

25

# Practical Questions

1. # Write a code to create a string with your name and print it.

In [ ]:
print("My name is'Ritwik Kumar'")

My name is'Ritwik Kumar'

2. # Write a code to find the length of the string "Hello World".

In [ ]:
# Define the string
text = "Hello World"

# Find and print the length
print(len(text))

11

3. # Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:

text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

4. # Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5. # Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. # Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. # Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. # Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. # Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. # Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

11. # Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Creating a tuple
my_tuple = (100, 200, 300)

# Printing the tuple
print(my_tuple)

(100, 200, 300)

12. # Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

13. # Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14. # Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:

animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

15. # Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:

fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. # Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. # Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. # Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. #   Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

20. # Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

21. # Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {
    "name": "Ritwik",
    "age": 22,
    "city": "Ranchi"
}
print(person)

{'name': 'Ritwik', 'age': 22, 'city': 'Ranchi'}

22. # Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. # Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
name_value = person["name"]
print(name_value)

Alice

24. # Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. #  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. # Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27. # Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted List:", random_numbers)

Sorted List: [7, 59, 60, 78, 99]

28. # Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

29. # Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

30. #  Write a code to convert a list of strings into a set.

In [36]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}